#header{
    width: 100%;
    height: 120px;
    background-color: white;

    #nav-bar{
        display: flex;
        justify-content: space-between;
    
        #logo{
            width: 45%;
            height: 75px;
            background-color: rgb(255, 255, 255);
            display: flex;
            align-items: center;

            #reclogo{
               margin-left: 25px;
            }
        }
        #list{
            width: 50%;
            height: 75px;
            background-color: rgb(255, 255, 255);
            flex-grow: 1;
            display: flex;
            justify-content: space-around;
            align-items: center;
            #list-items{
                width: 65px;
                height: 65px;
                transition: transform 0.1s ease; 
                &:hover{
                    transform: scale(1.2);
                }

            }
        }
    }
    
    #title{
        width: 100%;
        height: 45px;
        background-color: #085290;
        #h2{
            text-align: center;
        }
    }
}