 #body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 /* position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(81, 80, 80, 0.4);
  backdrop-filter: blur(5px); /* Add the backdrop blur effect 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
} */}
#tableContainer{
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    width: 1400px;

    
   
}
.search-container {
    padding-bottom: 20px;
    input#input {
      margin-left: 0px;
      &::placeholder {
        margin-right: 10px; /* You can adjust the margin value as needed */
      }
    }
  }

  #thead{
    background-color: rgba(13, 93, 173, 0.73) ;
    
  }
 